<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".crash.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Base.Theme.BillingSystem"
        tools:targetApi="31">
        <activity
            android:name=".activities.UserHomePageProformaAndSaleActivity"
            android:exported="false" />
        <activity
            android:name=".proforma.activities.ProfomaSignature"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".proforma.activities.ProfomaDocumentViewActivity"
            android:exported="false" />
        <activity
            android:name=".proforma.activities.ProformaSalesActivity"
            android:exported="false" />
        <activity
            android:name=".proforma.activities.ProfomaPdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".proforma.activities.ProformaHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".proforma.activities.ProfomaRecentInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".proforma.activities.ProfomaDeletedInvoice"
            android:exported="false" />
        <activity
            android:name=".activities.EstimationHistroyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EstimationDocumentViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Estimation"
            android:exported="false" />
        <activity
            android:name=".activities.DialogActivity"
            android:exported="false"
            android:theme="@style/DialogTheme" />

        <receiver
            android:name=".services.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ka.billingsystem.Send" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.ReportPDFView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeletedInvoice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditSignature"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.Signature"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.DocumentViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".proforma.activities.ProformaUserHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecentInvoiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserHomePageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PdfViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SalesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AdminHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ka.billingsystem.provider"
            android:exported="false"
            android:forceUriPermissions="true"
            android:grantUriPermissions="true"
            android:readPermission="android.permission.MANAGE_DOCUMENTS"
            android:writePermission="android.permission.MANAGE_DOCUMENTS">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".services.LogoutService" />
    </application>

</manifest>